.mobile-menu ul li {
    width: 100%;
    border: none;
    position: relative;
	}
	
	
	
.mobile-menu ul ul {
	width: 100%;
	position: relative;
	box-shadow: none;
	background: #fff;
	float: left;
	display: none;
}
.mobile-menu ul ul a {
	padding-left: 30px !important;
}	

.mobile-menu ul ul ul a {
	padding-left: 50px !important;
}	
	.menu-toggle {
	    display: block;
	}
	
.menu-toggle {
	text-align: center;
	color: #535967;
	font-size: 19px;
	line-height: 43px;
	position: absolute;
	height: 40px;
	width: 40px;
	top: 5px;
	right: 15px;
	background-color: rgba(248,248,248,1);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 99;
	cursor: pointer;
}
	
.mobile-menu {
	position: fixed;
	left: -400px;
	overflow: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	right: 0;
	height: 100%;
	max-width: 300px;
	z-index: 999;
	bottom: 0;
	padding-top: 20px;
	top: 0;
	background-color: #fff;
	padding-top: 55px;
}
	
.mobile-menu.active {
	left: 0%;
}
	
.mobile-menu ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #535967;
	display: block;
	padding: 8px 20px;
	border-bottom: 1px solid rgba(45, 45, 45, 0.2);
}
	
	.mobile-menu .sub-menu li a {
	    font-size: 14px;
	}
	
	body.menu-change {
	    overflow: hidden;
	}
	
	.overlay-main {
	    background-color: #000000c2;
	    position: absolute;
	    visibility: hidden;
	    opacity: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: 99;
	}
	
	.overlay-main.active {
	    visibility: visible;
	    opacity: 1;
	}
	
.top-close-menu {
	text-align: center;
	line-height: 38px;
	position: absolute;
	top: 20px;
	z-index: 3;
	right: 0;
	width: 35px;
	height: 35px;
	background-color: #111;
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	cursor: pointer;
}
.mobile-menu.active {
    left: 0%;
}


.mobile-menu ul li {
    width: 100%;
    border: none;
    position: relative;
}

.mobile-menu .sub {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 25px;
	height: 25px;
	background-color: #111;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 27px;
	cursor: pointer;
}

.mobile-menu ul{
  padding:0;
  margin:0;
}